
#main-container{
    position: relative;
    background-color: #FDEDEC;
    margin: 0 auto;
    width: 800px;
    height: 990px;
    border-left: 5px solid #D6EAF8;
    border-right: 5px solid #D6EAF8;
}

header{
    z-index: 2;
    position: absolute;
    width: 800px;
    height: 100px;
    background-color: #D6EAF8;
    text-align: center;
}

.text-input{
    font-size: 13px;
    font-family: monospace;
    border: 2px solid #6E2C00;
    height: 20px;
    width: 220px;
}

.button{
    font-size: 10px;
    color: black;
    height: 20px;
    width: 50px;
}

#task-form{
    position: absolute;
    left: 40px;
    margin-top: 15px;
    top: 110px;
}

#member-form{
    position: absolute;
    right: 40px;
    margin-top: 15px;  
    top: 110px;
}

.value-check{
    position: absolute;
    z-index: 3;
    top: 110px;
    font-size: 12px;
    color: darkslateblue;
}

#task-value-check{
    left: 40px;
}

#member-value-check{
    right: 210px;
}

#assign-value-check{
    top: 561px;
    left: 135px;
}

.header{
    position: absolute;
    z-index: 2;
    top: 170px;
    background-color: #FDEDEC;
    color: darkslategray;
    border-bottom: 2px solid #D6EAF8;
    height: 20px;
    width: 370px;
    font-size: 15px;
    padding: 10px;
}

#members-header{
    right: 0px;
}

#assignments-header{
    top: 620px;
    width: 780px;
    text-align: center;
}

#assign-form{
    position: absolute;
    left: 220px;
    top: 578px;
}

#check-task{
    position: absolute;
    left: -85px;
}

#check-member{
    position: absolute;
    right: -445px;
}

#assign-button{
    position: absolute;
    width: 80px;
    left: 450px;
}

#assignment-object-render{
    height: 150px;
    width: 150px;
    padding: 2px;
    background-color: #D6EAF8;
    font-size: 10px;
    text-align: center;
}

.object-render{
    background-color: #D6EAF8;
    padding: 20px;
    font-size: 10px;
    text-align: center;
    
}

#tasks-rendering{
    top: 210px;
}

#members-rendering{
    top: 210px;
    right: 0px;
}

#assignments-rendering{
    bottom: 20px;
    width: 760px;
    height: 280px;
}

.rendering{
    position: absolute;
    background-color: #FDEDEC;
    font-family: sans-serif;
    padding: 20px;
    width: 350px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    overflow: scroll;
}
